body {
    font-family: 'Orbitron', sans-serif;
    padding: 0px;
    margin: 0px;
}

#bg {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
}

@media only screen and (max-width: 1054px){
    #bg {
        background-repeat: no-repeat;
        background-size: 150vh 100vw;
        background-position: top;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 764px){
    #login {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 702px){
    #bg {
        background-repeat: no-repeat;
        background-size: 150vh 200vw;
        background-position: top;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 500px){
    #bg {
        background-repeat: no-repeat;
        background-size: 100vh 176vw;
        background-position: top;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 414px){
    #bg {
        background-repeat: no-repeat;
        background-size: 100vh 350vw;
        background-position: top;
        background-attachment: fixed;
    }
}