{% include 'partials/head.html' %}
    <title>Login and Registration</title>
</head>
{% load static %}
<body id="mainboard" style="background-image:url('{% static 'img/mainboard.jpg' %}');">
    <nav class="navbar d-flex flex-wrap justify-content-between bg-dark text-light p-0">
        <h1 class="display-5 p-3" style="letter-spacing:5px;" >Carssembly</h1>
        <a href="/logout" class="text-danger mr-3">Logout</a>
    </nav>
    <div class="container">
        <div class="row mt-5 d-flex justify-content-between">
            <div class="col-xl-5 col-lg-12 col-md-12 bg-light text-dark mt-5 rounded">
                <div class="d-flex flex-column justify-content-center align-items-center text-wrap">
                    <table class="table m-0">
                        <tbody>
                            <tr>
                                <th class="text-center p-0" scope="row">Event</th>
                                <td class="text-center p-0">Event title</td>
                            </tr>
                            <tr>
                                <th class="text-center p-0" scope="row">Date | Time </th>
                                <td class="text-center p-0">Date and Time</td>
                            </tr>
                            <tr>
                                <th class="text-center p-0" scope="row">Location</th>
                                <td class="text-center p-0">Set location</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-3">
                        <p class="text-center">Description</p>
                        <p>hereoiasjdioasjdioasjdiaosjdaiodjsaosd</p>
                    </div>
                        <div class="d-flex">
                            <p class="mr-5">coming</p>
                            <p class="ml-5">interested</p>
                        </div>
                    <a href="" class="text-info mt-3">Click for more info</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-12 col-md-12 bg-light text-dark mt-5 rounded">
                <div class="d-flex flex-column justify-content-center align-items-center text-wrap">
                    <table class="table m-0">
                        <tbody>
                            <tr>
                                <th class="text-center p-0" scope="row">Event</th>
                                <td class="text-center p-0">Event title</td>
                            </tr>
                            <tr>
                                <th class="text-center p-0" scope="row">Date | Time </th>
                                <td class="text-center p-0">Date and Time</td>
                            </tr>
                            <tr>
                                <th class="text-center p-0" scope="row">Location</th>
                                <td class="text-center p-0">Set location</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-3">
                        <p class="text-center">Description</p>
                        <p>hereoiasjdioasjdioasjdiaosjdaiodjsaosd</p>
                    </div>
                        <div class="d-flex">
                            <p class="mr-5">coming</p>
                            <p class="ml-5">interested</p>
                        </div>
                    <a href="" class="text-info mt-3">Click for more info</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <footer id="footer" class="d-flex justify-content-center text-light p-2 bg-dark">
                    <p class="display-5 m-0" style="letter-spacing:5px;">Carssembly &COPY; 2021</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>